<!DOCTYPE html>
<html>
 <head>

    <h1>Your profile </h1>
 </head>

<body>
  <div id= "error"></div>
<form>
    
                <label for= "email"> Your email: </label><br><br>
                    <input placeholder= "Type in email" type= "email" id="email" required autofocus><br><br>
                    <p id = message1></p>
                    <label for= "Username>"> Your username: </label><br>   
                    <input placeholder= "Username" type= "Username" id="Username" required autofocus><br><br>
                  </div>
                    <div class="input">
                    <label for= "password>"> Your password: </label><br>
                         <input placeholder= "Your password" type= "Password" id="password" name="Password":></input><br><br>
                         <p id = message2></p>
                      <div class="input">
                    <label for="fname" >First name: </label><br>
                           <input placeholder= "Type in firstname" type= "firstname" id="fname" name="fname" required><br><br>
                          </div>
                          <div class="input">
                    <label for= "lname"> Last name:</label><br>
                          <input placeholder= "Type in lastname" type= "lastname" id="lname" name="lname" required><br><br>
                        </div>
                        <div class="input">
                    <label for="Birthday">Birthday:</label><br>
                           <input placeholder= "Type in birthday" type= "birthday" id="birthday" name="birthday" required><br><br>
                          </div>
                    
                    
                    <button onclick="validering()" type=" Your matches" id="yourMatches">Your matches </button> 
                    <button onclick="validering()" type="Start matching" id="startMatching"> Start matching</button>
                    <button onclick="validering()" type="deleteProfile" id="deleteProfile"> Delete profile </button>

                            
                    <br> <br>

              
                 <script src="SignIn.js"></script> 
                

            
 </form>
 </body>
 </html>
           