<!DOCTYPE html>
<html>

<head>
  <!---name=access endpoints-->


</head>

<body>
  <!-- had issue, reloading => onloading => had to make retrive and information -->
  <input type="submit" onclick= "gettingInformation()" value="Retrive Information"><br><br>
  <h1>Golden Dating</h1>
  <!--TODO: Change form fields to the correct fields. Currently, I've just used some testing fields to ensure that data gets transfered from client to server.-->
  <!--TODO: This below should not use a full path, but a relative path. To change this, the html should be served in express.-->
  <form>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName"><br><br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="cpr">CPR:</label>
    <input type="text" id="cpr" name="cpr"><br><br>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age"><br><br>

    <input type="submit" onclick= "editProfile()" value="Save"><br><br>
    <!--<input type="submit" value="Save"><br><br> -->


    <input type="button" value="My matches!" onclick="msg()">
    <input type="button" value="Start Swiping!" onclick="msg()"><br><br>

    <input type="button" value="Delete profile?" onclick="DeleteAccount()">

  </form>
  <script src="gettingProfile.js"></script> 
  <script src="gettingMyUsers.js"></script>
  <script src="deleteProfile.js"></script> 

</body>

</html>

