<!DOCTYPE html>
<html>

<head>
  <!---name=access endpoints-->


</head>

<body>
  <!-- had issue, reloading => onloading => had to make retrive and information -->
  <input type="submit" onclick= "gettingInformation()" value="Retrive Information"><br><br>
  <h1>Golden Dating</h1>
  <!--TODO: Change form fields to the correct fields. Currently, I've just used some testing fields to ensure that data gets transfered from client to server.-->
  <!--TODO: This below should not use a full path, but a relative path. To change this, the html should be served in express.-->
  <form>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName"><br><br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="cpr">CPR:</label>
    <input type="text" id="cpr" name="cpr"><br><br>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age"><br><br>

    <input type="submit" onclick= "editProfile()" value="Save"><br><br>
    <!--<input type="submit" value="Save"><br><br> -->


    <input type="button" value="My matches!" onclick="msg()">
    <input type="button" value="Start Swiping!" onclick="msg()"><br><br>

    <input type="button" value="Delete profile?" onclick="DeleteAccount()">

  </form>
  <script src="gettingProfile.js"></script> 
  <script src="gettingMyUsers.js"></script>
  <script src="deleteProfile.js"></script> 

</body>

</html>

<!---
<!DOCTYPE html>
 <html>
 <head>

   
    <h1>Edite profile</h1>
 </head>

<body>
  <div id= "error"></div>
<form>
               <label for= "firstName"> Enter your firstName: </label><br><br>
                    <input placeholder= "Type in firstName" type = "firstName" id="firstName" required autofocus><br><br>
                    <p id = message1></p>
                <label for= "email"> Enter your email: </label><br><br>
                    <input placeholder= "Type in email" type= "email" id="email" required autofocus><br><br>
                    <p id = message1></p>
                <label for= "password>"> Type in password: </label><br>
                     <input placeholder= "Type in password" type= "Password" id="password" name="Password":></input><br><br>
                    <p id = message2></p>
    
                    
                    
                    <label for="gender">Change your gender:</label> <br>
                    <select name="gender" id="gender">
                      <option value=  disabled selected></option>
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                      <option value="other">Other</option>
                    </select>
                    <br><br>

                    <label for="gender">Change your interests:</label> <br>
                    <select name="gender" id="gender">
                      <option value=  disabled selected></option>
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                      <option value="other">Other</option>
                    </select>
                    <br>

                    <button onclick="validering()" type="login" id="login">Log in </button> 
                            
                    <br> <br>      
 </form>
 <script src="editProfile.js"></script> 
 </body>
 </html> -->
