<!DOCTYPE html>
<html>
 <head>

    <link rel="stylesheet" href="eksamensopg.css">
    <h1> Golden Dating </h1>
 </head>

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style type="text/css" media="screen">
 @import url("css/layout.css");
 </style>
 </head>
 <body>
   <form>
 <!--layout starts-->
 <div id="layout">
   <div id="layout_inner">
     <!--header starts-->
     <div id="header">
       <!--  menu starts-->
       <div id="menu">
         <ul>
           <li class="first"><a class="current" href="#">Home</a></li>
           <li><a  href="http://127.0.0.1:5500/View/view2/LogIn.html"> Log in</a></li>
           <li><a href="http://127.0.0.1:5500/View/view2/SignUp.html">SignUp</a></li>
           <li><a href="http://127.0.0.1:5500/View/view2/deleteProfile.html">Edit profle</a></li>
           <li><a href="contact_us.html">Contact Us</a></li>
           <li><a href="http://127.0.0.1:5500/View/view2/profilePage.html">Your account</a></li>
         </ul>
       </div>

      </form>
      

<div class="logo">
  <img src= "../Pics/download.jpeg">
  

  </div>
</body>
</html>


