<!--<a href look at home on google-->
    
<!DOCTYPE html>
<html>
 <head>

    <link rel="stylesheet" href="LogIn.js">
    <h1>Welcome to LogIn</h1>
 </head>

<body>
  <div id= "error"></div>
<form>
    
                <label for= "email"> Enter your email: </label><br><br>
                    <input placeholder= "Type in email" type= "email" id="email" required autofocus><br><br>
                    <p id = message1></p>
                <label for= "password>"> Type in password: </label><br>
                     <input placeholder= "Type in password" type= "Password" id="password" name="Password":></input><br><br>
                    <p id = message2></p>
                    <button type="button" onlick="getInfo()">Log in</button>
                    
                    <button onclick="validering()" type="login" id="login">Log in </button> 
                            
                    <br> <br>

              
                 <script src="SignIn.js"></script> 
                

            
 </form>
 </body>
 </html>
           