<!-- <a href look at home on google
    
<!DOCTYPE html>
<html>
 <head>

   
    <h1>Welcome to LogIn</h1>
 </head>

<body>
  <div id= "error"></div>
<form>
    
                <label for= "email"> Enter your email: </label><br><br>
                    <input placeholder= "Type in email" type= "email" id="email" required autofocus><br><br>
                    <p id = message1></p>
                <label for= "password>"> Type in password: </label><br>
                     <input placeholder= "Type in password" type= "Password" id="password" name="Password":></input><br><br>
                    <p id = message2></p>
                    <button type="button" onlick="LogIn()">Log in</button>
                    
                    
                            
                    <br> <br>     
 </form>
 <script src="LogIn.js"></script> 
 </body>
 </html>
--> 

<!DOCTYPE html>
<html>

<head>
  <!---name=access endpoints-->

</head>

<body>
  <h1>Log In </h1>
  <!--TODO: Change form fields to the correct fields. Currently, I've just used some testing fields to ensure that data gets transfered from client to server.-->
  <!--TODO: This below should not use a full path, but a relative path. To change this, the html should be served in express.-->
  <form>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    

    <button onclick="LogIn()">Click me</button>  
  </form>

  <script src="LogIn.js"></script> 
</body>

</html>

           