<!DOCTYPE html>
<html>

<head>
  <!---name=access endpoints-->

</head>

<body>
  <h1>My Matches </h1>
  <!--TODO: Change form fields to the correct fields. Currently, I've just used some testing fields to ensure that data gets transfered from client to server.-->
  <!--TODO: This below should not use a full path, but a relative path. To change this, the html should be served in express.-->
  <form>
     
  </form>

  <script src="myMatches.js"></script> 
</body>

</html>
<!--button = yes or no
  //webpage = first thing: get req to get the user and put it on the web page
//yes-function > put requuest to matches.API (send mails from current user (from localstorage) & the other person you will match) => make put function
//no-function > continue (need to reload the page and get new get request (HARD))
--> 